*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  line-height: 1;
  font-size: $font-size-base;
  font-family: $font-base;
  background-color: $color-primary-light;
  color: $color-secondary;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.moving-point-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 10s ease-in-out; 
}

.moving-point-wrapper svg {
    width: 600px;
    height: 600px;
    opacity: 0.4;
    filter: blur(60px);
}

@media (max-width: 600px) {
    .moving-point-wrapper svg {
        width: 300px;
        height: 300px;
    }
}

.moving-point-wrapper svg path {
    fill: #d41116; 
}